name: Valgrind (ctest memcheck)

on:
  workflow_call:

jobs:
  memcheck:
    strategy:
      fail-fast: false
      matrix:
        include:
          - cc: gcc
            cxx: g++
          - cc: clang
            cxx: clang++

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install tools
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build valgrind

      - name: Configure (memcheck enabled)
        run: |
          CC=${{ matrix.cc }} CXX=${{ matrix.cxx }} \
          cmake -S . -B build -G Ninja \
            -DCMAKE_BUILD_TYPE=Debug \
            -DBUILD_TESTING=ON \
            -DCLI_ENABLE_MEMCHECK=ON

      - name: Build
        run: cmake --build build --parallel

      - name: Run ctest memcheck
        run: ctest --test-dir build -T memcheck --verbose
